/* Website Styles */

* {
    font-size: 100%;
}

h1, h2{
    font-weight: 900;
    font-style: italic;
}

h1{
    color: black;
    font-size: 50px;
    background-color: antiquewhite;
    text-align: center;
    font-weight: lighter;
    /* short hand with one value will after all other selectors will override this
    /* margin: 50px; */
    /* Short-hand with 2 values */
    margin: 50px 20px;

}
body{ 
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
}

p{  
    color:black;
    font-weight: lighter;
    line-height: 27px;

}
footer{     
    color: darkslategrey;
}

header{ 
    color: black;
    text-align: center;
}

section{    
    color: black;
}

a{
    align-self: link;
    align-self: focus;
    align-self: active;
    text-decoration: none;
    color: red;
}

a:hover{
    text-decoration: underline;
    color: red;
}

a:visited{
    color: gray;
}